.main {
  display: flex;
  justify-content: end;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.box-1 {
  position: absolute;
  width: 300px;
  height: 200px;

}

.box-2 {
  position: absolute;
  background-color: violet;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
}

.box-3 {
  position: absolute;
  background-color: skyblue;
  bottom: 0px;
  width: 50px;
  height: 50px;
}

.box-4 {
  position: absolute;
  background-color: gray;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 0px;
}