.main {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.box-position_1 {
  position: absolute;
  background-color: skyblue;
  top: 50px;
  left: 50px;
}

.box-position_2 {
  position: absolute;
  background-color: violet;
  top: 100px;
  left: 100px;
}